.dialog-image {
  max-width: 100%;
  object-fit: cover;
}
mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-icon {
  vertical-align: middle;
}

.dialog-button {
  padding: 0;
  cursor: pointer;
}
